<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Document</title>
    </head>
    <style>
        body {
            /* display: grid;
            grid-template-columns: 1fr minmax(200px,400px) 1fr;
            grid-template-rows: 1fr minmax(auto,1fr) 1fr;
            grid-gap: 10px; */
            width: 100%;
            height: 100vh;
            background-color:  #23A6D5;
            background: linear-gradient(29deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            box-sizing: border-box;
        }
    </style>
    <body>
        <h2>Super Completive</h2>
        <h3>Bienvenue sur la platforme Super Completive</h2>
        
        <p>Voici vos informations de connexion :</p>
        <p>Login : <%= userName %></p>
        <p>Mot de passe : <%= password %></p>
        
    </body>
</html>