<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Document</title>
    </head>
    <body>
        <h2>Super Completive</h2>
        <h3>Bienvenue sur la platforme Super Completive</h2>
        
        <p>Voici vos informations de connexion :</p>
        <p>Login : <%= userName %></p>
        <p>Mot de passe : <%= password %></p>
        
    </body>
</html>