<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <title>Document</title>
    </head>
    <style>
        body {
            width: 100vw;
            height: 100vh;
            background-color:  #23A6D5;
            background: linear-gradient(29deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
            background-size: 400% 400%;
            animation: Gradient 15s ease infinite;
            box-sizing: border-box;
        }

        .container {
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        /* @media (min-width: 1200px){
            .container {
                width: 1170px;
            }
        } */

        .main {
            background-color: #dddddd;
        }
    </style>

    <body>
        <div class="container">
            <div class="main">
                <h2>Super Completive</h2>
                <h3>Bienvenue sur la platforme Super Completive</h2>
                
                <p>Voici vos informations de connexion :</p>
                <p>Login : Username</p>
                <p>Mot de passe : Password</p>
            </div>
        </div>    
    </body>
</html>